<div class="wrapper">
    <form class="form-signin" [formGroup]="myGroup">       
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="username" formControlName="username" placeholder="Username" required="" autofocus="" />
      <input type="password" class="form-control" name="password" formControlName="password" placeholder="Password" required=""/>      
      <a type="submit" (click)="login()">Login</a>   
      <a routerLink="/signup-form">Sign Up</a>   
    </form>
  </div>