<div class="container">
  <h3>User List</h3>
  <table class="table table-bordered" style="width: 50%" align="center">
    <thead>
      <th>Name</th>
      <th>Username</th>
      <th>Action</th>
    </thead>
    <tbody *ngFor="let detail of returnedArray">
      <td>{{detail.name}}</td>
      <td>{{detail.username}}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteData(detail._id)">Delete</button>
      </td>
    </tbody>
  </table>
  <button class="btn btn-primary" routerLink="/form">
    Add User</button>
    <!-- <pagination [totalItems]="data?.length" [(ngModel)]="currentPage" [itemsPerPage]="10" (pageChanged)="pageChanged($event)"></pagination> -->
</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <p>Do you want to delete?</p>
      <button type="button" class="btn btn-default" (click)="deleteData(detail._id)">Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
  </ng-template>
